<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d28535da-2e76-4511-8529-8f6948521a3d" Version="1.0.0.0" Publisher="CN=Sondre" />
  <Properties>
    <DisplayName>Image Cards for Kids</DisplayName>
    <PublisherDisplayName>brain.no</PublisherDisplayName>
    <Logo>Assets\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Image Cards for Kids" Logo="Assets\logo.jpg" SmallLogo="Assets\smalllogo.jpg" Description="Simple and fun game for the smallest children. Displays tiles that turns around when touched, to reveal the a photo, the name and plays a sound of different animals." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Image Cards" />
        <SplashScreen Image="Assets\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>